<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solvare.grouplex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startup.LoginActivity"
            android:label="Login"
            android:logo="@drawable/ic_launcher"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".startup.SignupActivity"
            android:label="Signup"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.LoginActivity" />
        </activity>
        <activity
            android:name=".startup.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.LoginActivity" />
        </activity>
        <activity android:name=".startup.MyGroupsActivity" />
        <activity
            android:name=".menu.JoinGroupActivity"
            android:label="Join Group"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".menu.CreateGroupActivity"
            android:label="Create Group"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".menu.about.AboutActivity"
            android:label="About Grouplex">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".menu.about.OpenSourceActivity"
            android:label="Open Source Credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.about.AboutActivity" />
        </activity>
        <activity
            android:name=".group.ChatActivity"
            android:label="CSE-2016"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".group.GroupMembersActivity"
            android:label="Group Members">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ChatActivity" />
        </activity>
        <activity android:name=".startup.FirstActivity"></activity>
        <activity
            android:name=".menu.account.UserAccountActivity"
            android:label="User Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startup.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".group.GroupSettingsActivity"
            android:label="Group Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ChatActivity" />
        </activity>
        <activity android:name=".startup.LoginMessage" />
        <activity
            android:name=".startup.LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.account.ChangeNameActivity"
                  android:label="Change Name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.account.UserAccountActivity" />
        </activity>
    </application>

</manifest>