<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solvare.grouplex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Signup"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".MyGroupsActivity" />
        <activity
            android:name=".JoinGroupActivity"
            android:label="Join Group"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="Create Group"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About Grouplex">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>
        <activity
            android:name=".OpenSourceActivity"
            android:label="Open Source Credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.solvare.grouplex.AboutActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="CSE-2016"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.solvare.grouplex.MyGroupsActivity" />
        </activity>
        <activity
            android:name=".GroupInfoActivity"
            android:label="Group Info">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.solvare.grouplex.ChatActivity" />
        </activity>
        <activity
            android:name=".GroupMembersActivity"
            android:label="Group Members">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.solvare.grouplex.ChatActivity" />
        </activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSettingsActivity"
            android:label="User Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.solvare.grouplex.MyGroupsActivity" />
        </activity>

    </application>

</manifest>
